// header style
.contactHeader {
    background-image: url('../assets/contact-header-1.jpg');
    background-size: cover;
    height: 80vh;
    h1 {
        color: $textColor;
        font-size: 8.32rem;
        font-family: $basefont;
        padding-top: 15%;
    }
}

h1.animateMainHeader {
    animation: letterRotate 0.5s ease-in-out;
    animation-fill-mode: forwards;
    width: 30%;
}

@keyframes letterRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// main style
.contactBox {
    background-color: $primary;
    padding-bottom: 0;
    .wrapper {
        height: 100vh;
        position: relative;
        aside {
            width: 30%;
            .social {
                display: flex;
                li {
                    padding-right: 5%;
                }
                li:last-child {
                    padding-right: 0;
                }
                i {
                    font-size: 3rem;
                }
            }
        }
    }
}

.contactInfo p.emailInfo {
    margin-top: 0;
}

.contactInfo p:not(.emailInfo) {
    margin: 0;
}

.contactBox form {
    background-color: $secondary;
    width: 65%;
    margin-right: 5%;
    padding: 4%;
    font-size: 4rem;
    position: absolute;
    right: 0;
    bottom: 150px;
    @include boxShadow;
    input,
    textarea {
        background-color: $secondary;
        color: $textColor;
        font-weight: bold;
    }
    .formSingleLine {
        display: flex;
    }
    input.formName,
    input.formEmail {
        width: 50%;
        border: none;
        border-bottom: 2px solid $textColor;
        font-size: 4.5rem;
    }
    input.formName {
        margin-right: 4%;
    }
    textarea {
        height: 30%;
        width: 100%;
        margin: 10% 0 10% 0;
        border: 2px solid $textColor;
        padding: 5%;
    }
    input[type="submit"] {
        display: block;
        background-color: $third;
        width: 100%;
        border: none;
    }
}

// responsive style 
@media only screen and (max-width: 1090px) {
    .contactHeader {
        height: 70vh;
    }
}

@media only screen and (max-width: 970px) {
    .contactWrapper {
        background-image: url('../assets/contact-header-1.jpg');
    }
    .contactHeader {
        height: auto;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    h1.animateMainHeader {
        width: 60%;
    }
    .contactBox {
        background-color: transparent;
        .wrapper {
            height: auto;
            position: static;
            aside {
                width: 100%;
                text-align: center;
                ul {
                    justify-content: center;
                }
            }
        }
    }
    .contactBox form {
        width: 100%;
        margin: 0;
        position: static;
        box-shadow: none;
        input.formEmail {
            width: 46%;
        }
    }
}