// variables
$primary: #111010;
$secondary: #220303;
$third: #bf2603;
$titleColor:#ff8327;
$textColor:#ffffff;
$leastColor: #696969;
$basefont: 'Chathura',
sans-serif;
$headerfont: 'Tulpen One',
cursive;
//basic styles
* {
    font-size: 62.5%;
    color: $textColor;
}

.bodyWrapper {
    max-width: 1600px;
    margin: 0 auto;
    font-family: $basefont;
}

.wrapper {
    // margin: 0 10% 5% 10%;
    padding: 5%;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    // font-size: 3.8rem;
    // font-weight: bold;
}

p {
    font-size: 3.9rem;
    line-height: 30px;
}

img {
    width: 100%;
    height: 100%;
}

h1,
a {
    font-family: $headerfont;
}

h2 {
    font-size: 7.8rem;
}

h3 {
    font-size: 6.8rem;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 58px;
    letter-spacing: 2.2px;
    font-weight: bold;
}

.button {
    background: $third;
    padding: 1% 3%;
    color: $textColor;
    font-size: 3.9rem;
    text-transform: capitalize;
    &:hover,
    &:focus,
    &:active {
        background-color: $titleColor;
    }
}

@mixin boxShadow($axis:20px) {
    box-shadow: $axis 20px $titleColor;
}