// header style
.homeHeader {
    background-image: url('../assets/home-image-1.jpg');
    // background-size: contain;
    // background-image: url('../assets/header-box.jpg');
    height: 100vh;
    background-color: $primary;
}

.homeHeader main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 80vh;
    .mainTitle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }
    h1 {
        color: $titleColor;
        font-family: $headerfont;
        font-size: 26.14rem;
        letter-spacing: 2.4px;
        margin: 0;
        text-align: center;
        position: relative;
        span {
            font-size: 8.32rem;
            color: $textColor;
            font-family: $basefont;
            display: block;
            position: absolute;
            top: 185%;
            left: 2%;
        }
    }
}

.homeHeader .headerBox {
    position: absolute;
    top: 40%;
    right: 0;
}

// about section style
.about {
    background-color: $primary;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
    }
    .aboutInfo {
        position: relative;
        flex-basis: 50%;
        display: flex;
        align-items: flex-start;
    }
    .aboutLogo {
        background-color: $titleColor;
        border-radius: 50%;
        padding: 3%;
        i {
            font-size: 3rem;
        }
    }
    .aboutArticle {
        padding-left: 4%;
        h3 {
            margin: 0;
        }
    }
}

// news section style
.news {
    background-color: $secondary;
    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .newsBox {
        display: flex;
        .newsImage {
            position: absolute;
            flex-basis: 50%;
        }
    }
}

.newsBox1 {
    text-align: right;
    padding-right: 5%;
    .newsImage {
        top: -4%;
        left: 0;
        @include boxShadow;
    }
    .newsArticle {
        padding-left: 60%;
        text-align: left;
    }
}

.newsBox2 {
    flex-direction: row-reverse;
    .newsImage {
        bottom: -4%;
        right: 0;
        @include boxShadow(-20px);
    }
    .newsArticle {
        padding-right: 60%;
        text-align: right;
    }
}

// inquiry section style
.inquiry {
    background-color: $primary;
    text-align: center;
    height: 80vh;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        color: $titleColor;
    }
}

// banner section style 
.banner {
    height: 70vh;
    background-image: url("../assets/banner-image.jpg");
    background-size: cover;
    background-position: center;
}

// event section style
.event {
    background-color: $primary;
    .wrapper {
        display: flex;
        .eventImage {
            width: 30%;
            padding-right: 5%;
            @include boxShadow(-20px);
        }
        .eventArticle {
            width: 70%;
            padding-left: 5%;
        }
    }
}

// gallery style
.gallery {
    background-color: $secondary;
    .wrapper {
        display: flex;
        .galleryImage {
            margin-right: 2%;
            object-fit: cover;
            height: 400px;
            width: 500px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .galleryImage1 {
        background-image: url('../assets/gallery-image-1.jpg');
    }
    .galleryImage2 {
        background-image: url('../assets/gallery-image-2.jpg');
    }
    .galleryImage3 {
        background-image: url('../assets/gallery-image-3.jpg');
    }
}