header .wrapper {
    padding-top: 0;
}

.hamburgerMenu {
    display: none;
}

.headerNav {
    font-family: $basefont;
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}

.headerNav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
    a {
        font-size: 3.8rem;
        font-weight: bold;
        font-family: $basefont;
    }
    .navLogo a {
        font-size: 6rem;
        font-family: $headerfont;
    }
    li a:hover {
        color: $titleColor;
    }
}

// responsive style
@media only screen and (max-width: 760px) {
    .headerNav {
        display: none;
    }
    .hamburgerMenu {
        font-size: 5rem;
        padding-top: 5%;
        display: flex;
        justify-content: space-between;
        height: 150px;
        align-items: flex-start;
        .blogHamburger,
        .contactHamburger {
            padding: 0;
            font-size: 8rem;
        }
    }
    .mainMenu {
        .fa,
        .fas {
            font-size: 5rem;
            z-index: 30;
        }
        a {
            font-size: 6rem;
            font-family: $basefont;
        }
        input[type="checkbox"] {
            display: none;
        }
    }
    .hamburgerList {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($secondary, 0.8);
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        transition: transform 0.7s ease;
        li {
            width: 100%;
            text-align: center;
            &:hover,
            &:focus,
            &:active {
                background-color: $third;
            }
        }
        .hamburgerClose {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }
    #toggleOpen:checked~.hamburgerList {
        transform: translateX(0);
    }
    #toggleOpen~.hamburgerList {
        transform: translateX(-1000px);
    }
}