@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  font-size: 62.5%;
  color: #ffffff; }

.bodyWrapper {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Chathura", sans-serif; }

.wrapper {
  padding: 5%; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

p {
  font-size: 3.9rem;
  line-height: 30px; }

img {
  width: 100%;
  height: 100%; }

h1,
a {
  font-family: "Tulpen One", cursive; }

h2 {
  font-size: 7.8rem; }

h3 {
  font-size: 6.8rem; }

h1,
h2,
h3 {
  margin: 0;
  line-height: 58px;
  letter-spacing: 2.2px;
  font-weight: bold; }

.button {
  background: #ff8327;
  padding: 1% 3%;
  color: #ffffff;
  font-size: 3.9rem; }

header .wrapper {
  padding-top: 0; }

.headerNav {
  font-family: "Chathura", sans-serif;
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase; }

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2% 0; }
  .headerNav ul a {
    font-size: 3.8rem;
    font-weight: bold; }
  .headerNav ul .navLogo a {
    font-size: 6rem;
    font-family: "Tulpen One", cursive; }
  .headerNav ul li a:hover {
    color: #ff8327; }

footer {
  background-color: #696969;
  margin: 0;
  padding: 0; }
  footer .wrapper {
    padding: 0; }
  footer p {
    margin: 0;
    padding: 0.5% 0;
    text-align: center; }

.homeHeader {
  background-image: url("../assets/home-image-1.jpg");
  height: 100vh;
  background-color: #111010; }

.homeHeader main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative;
  height: 80vh; }
  .homeHeader main .mainTitle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 99; }
  .homeHeader main h1 {
    color: #ff8327;
    font-family: "Tulpen One", cursive;
    font-size: 26.14rem;
    letter-spacing: 2.4px;
    margin: 0;
    text-align: center;
    position: relative; }
    .homeHeader main h1 span {
      font-size: 8.32rem;
      color: #ffffff;
      font-family: "Chathura", sans-serif;
      display: block;
      position: absolute;
      top: 185%;
      left: 2%; }

.homeHeader .headerBox {
  position: absolute;
  top: 40%;
  right: 0; }

.about {
  background-color: #111010; }
  .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10%; }
  .about .aboutInfo {
    position: relative;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .about .aboutLogo {
    background-color: #ff8327;
    border-radius: 50%;
    padding: 3%; }
    .about .aboutLogo i {
      font-size: 3rem; }
  .about .aboutArticle {
    padding-left: 4%; }
    .about .aboutArticle h3 {
      margin: 0; }

.news {
  background-color: #bf2603; }
  .news .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
  .news .newsBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .news .newsBox .newsImage {
      position: absolute;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.newsBox1 {
  text-align: right;
  padding-right: 5%; }
  .newsBox1 .newsImage {
    top: -4%;
    left: 0;
    -webkit-box-shadow: 20px 20px #ff8327;
    box-shadow: 20px 20px #ff8327; }
  .newsBox1 .newsArticle {
    padding-left: 60%;
    text-align: left; }

.newsBox2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .newsBox2 .newsImage {
    bottom: -4%;
    right: 0;
    -webkit-box-shadow: -20px 20px #ff8327;
    box-shadow: -20px 20px #ff8327; }
  .newsBox2 .newsArticle {
    padding-right: 60%;
    text-align: right; }

.inquiry {
  background-color: #111010;
  text-align: center;
  height: 80vh; }
  .inquiry .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .inquiry h2 {
    color: #ff8327; }

.banner {
  height: 70vh;
  background-image: url("../assets/banner-image.jpg");
  background-size: cover;
  background-position: center; }

.event {
  background-color: #111010; }
  .event .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .event .wrapper .eventImage {
      width: 30%;
      padding-right: 5%;
      -webkit-box-shadow: -20px 20px #ff8327;
      box-shadow: -20px 20px #ff8327; }
    .event .wrapper .eventArticle {
      width: 70%;
      padding-left: 5%; }

.gallery {
  background-color: #bf2603; }
  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .gallery .wrapper .galleryImage {
      margin-right: 2%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 400px;
      width: 500px; }
      .gallery .wrapper .galleryImage:last-child {
        margin-right: 0; }
  .gallery .galleryImage1 {
    background-image: url("../assets/gallery-image-1.jpg"); }
  .gallery .galleryImage2 {
    background-image: url("../assets/gallery-image-2.jpg"); }
  .gallery .galleryImage3 {
    background-image: url("../assets/gallery-image-3.jpg"); }

.blogBody {
  background-color: #111010; }

.blogHeader {
  background-image: url("../assets/blog-header-1.jpg");
  background-size: cover;
  height: 80vh; }
  .blogHeader h1 {
    color: #ffffff;
    font-size: 8.32rem;
    font-family: "Chathura", sans-serif;
    padding-top: 15%; }

main.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  main.blog .blogContent {
    -ms-flex-preferred-size: 68%;
    flex-basis: 68%;
    margin-left: 4%;
    position: relative;
    top: -200px; }
    main.blog .blogContent .blogImage {
      background-color: #ff8327; }
      main.blog .blogContent .blogImage img {
        padding: 0 0 1% 2%;
        position: relative;
        top: -20px; }
    main.blog .blogContent .blogArticle {
      padding: 2% 5%;
      border-left: 5px solid #ff8327;
      border-bottom: 5px solid #ff8327; }
      main.blog .blogContent .blogArticle h2 + p {
        color: #ff8327;
        margin-top: 0; }
  main.blog aside {
    -ms-flex-preferred-size: 28%;
    flex-basis: 28%;
    background-color: #111010;
    padding: 0;
    margin: 0; }
    main.blog aside .postContent {
      margin-left: 10%;
      padding: 50% 5% 5% 5%;
      background-color: #bf2603; }
      main.blog aside .postContent .mainPost a {
        color: #ff8327;
        font-size: 4rem;
        font-family: "Chathura", sans-serif;
        display: block;
        line-height: 35px; }
      main.blog aside .postContent h3 + p {
        margin: 0; }
    main.blog aside ul li {
      font-size: 3.9rem;
      padding-left: 10%;
      line-height: 25px;
      position: relative; }
      main.blog aside ul li::before {
        content: '·';
        color: #ff8327;
        font-size: 6rem;
        position: absolute;
        top: 10px;
        left: 0; }
  main.blog .postImage img {
    position: relative;
    left: -20px;
    top: 180px; }

.comment {
  padding-left: 30%; }
  .comment .commentBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .comment .commentBox .commentImage {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }
    .comment .commentBox .commentArticle {
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%; }

.contactHeader {
  background-image: url("../assets/contact-header-1.jpg");
  background-size: cover;
  height: 80vh; }
  .contactHeader h1 {
    color: #ffffff;
    font-size: 8.32rem;
    font-family: "Chathura", sans-serif;
    padding-top: 15%; }

.contactBox {
  background-color: #111010;
  padding-bottom: 0; }
  .contactBox .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

form {
  background-color: #bf2603;
  width: 90%;
  padding: 4%;
  font-size: 4rem;
  position: relative;
  bottom: 300px;
  -webkit-box-shadow: 20px 20px #ff8327;
  box-shadow: 20px 20px #ff8327; }
  form input,
  form textarea {
    background-color: #bf2603;
    color: #ffffff;
    font-weight: bold; }
  form .formSingleLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  form input.formName,
  form input.formEmail {
    width: 50%;
    border: none;
    border-bottom: 2px solid #ffffff; }
  form input.formName {
    margin-right: 4%; }
  form textarea {
    height: 30%;
    width: 100%;
    margin: 10% 0 10% 0;
    border: 2px solid #ffffff;
    padding: 5%; }
  form input[type="submit"] {
    display: block;
    background-color: #ff8327;
    width: 100%;
    border: none; }

/*# sourceMappingURL=style.css.map */